@model Ban3.Productions.Casino.Contracts.Response.RenderViewResult<Ban3.Productions.Casino.Contracts.Entities.DotInfo>
@{
    Layout = null;
}

<table data-pagination="true" class="table table-hover table-dark  table-bordered caption-top">
    <caption>
        <span class="gray">@Model.Request.Total ; Page.@Model.Request.Page</span>
    </caption>
    <thead>
    <tr>
        <th class="col-3">Code</th>
        <th class="col-2">Date</th>
        <th class="col-1">Cycle</th>
        <th class="col-1">Days</th>
        <td class="col-2">Percent</td>
        <th class="col-2">Close</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.ShowData)
    {
        var className = row.ChangePercent > 0 ? "red" : "green";
        <tr class="@className">
            <td>@row.Code</td>
            <td>@row.TradeDate</td>
            <td>@row.Cycle</td>
            <td>@row.Days</td>
            <td>@Math.Round(row.ChangePercent, 2) %</td>
            <td>@row.Close</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr><td colspan="6">@Html.Raw(Model.Request.Pagination())</td></tr>
    </tfoot>
</table>