@model Ban3.Productions.Casino.Contracts.Entities.Stock
@{
    Layout = null;
    var url = $"/data/Candlestick/{Model.Code}?cycle=DAILY";
}

<div class="btn-group pb-3" role="group">
    <span class="input-group-text">@Model.Name - @Model.Symbol</span>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-daily"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/Candlestick/{@Model.Code}?cycle=DAILY")">
        DAY
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-weekly"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/Candlestick/{@Model.Code}?cycle=WEEKLY")">
        WEEK
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-monthly"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/Candlestick/{@Model.Code}?cycle=MONTHLY")">
        MONTH
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-bias"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/bias/{@Model.Code}")">
        BIAS
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-dmi"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/dmi/{@Model.Code}")">
        DMI
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-kd"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/kd/{@Model.Code}")">
        KD
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-macd"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/macd/{@Model.Code}")">
        MACD
    </button>
    <button class="btn btn-outline-secondary renderChartsButton" type="button" id="button-ac"
            renderElement="chartsDaysContainer"
            dataUrl="@($"/data/amountCandlestick/{@Model.Code}")">
        AC
    </button>
</div>
<div id="chartsDaysContainer"
     class="renderCharts roundBox whiteBox"
     style="height: 1400px; width: 100%;"
     renderElement="chartsDaysContainer"
     dataUrl="@url">
</div>