@model IEnumerable<Ban3.Infrastructures.Indicators.Entries.ProfileSummary>
@{
    Layout = null;
}
<div class="pb-3 hide" id="chartsSection">
    <div class="col-12 roundBox grayBox">
        <div id="chartsContainer"
             style="height: 600px; width: 100%;">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <div class="roundBox grayBox pd-3">
            <table data-pagination="true" class="table table-hover table-dark  table-bordered caption-top">
                <caption>@Model.Count() profiles summaries</caption>
                <thead>
                <tr>
                    <th class="col-3">Identity</th>
                    <th class="col-1">Stocks</th>
                    <th class="col-1">Records</th>
                    <th class="col-1">RightTimes</th>
                    <th class="col-2">Best</th>
                    <th class="col-2">Worst</th>
                    <th class="col-2">Average</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var point in Model.OrderByDescending(o => o.Best))
                {
                    var className = point.RightCount > 0.7 * point.RecordCount ? "red" : "green";
                    <tr class="@className lazyLoadButton" dataUrl="/parts/profileDetail/@point.Identity" renderElement="detailsContainer">
                        <td>@point.Identity</td>
                        <td>@point.StockCount</td>
                        <td>@point.RecordCount</td>
                        <td>@point.RightCount</td>
                        <td>@Math.Round(point.Best, 2) %</td>
                        <td>@Math.Round(point.Worst, 2) %</td>
                        <td>@Math.Round(point.Average, 2) %</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-3">
        <div class="roundBox grayBox text-center">
            <div>
                <div class="card-body">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" id="bellIcon3" width="32" height="32" dataUrl="/parts/timeline3" renderElement="detailsContainer" fill="currentColor" class="bi bi-bell lazyLoadButton" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                    </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" id="bellIcon2" width="48" height="48" dataUrl="/parts/timeline2" renderElement="detailsContainer" fill="currentColor" class="bi bi-bell lazyLoadButton" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                        </svg>
                    </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" id="bellIcon" width="64" height="64" dataUrl="/parts/timeline" renderElement="detailsContainer" fill="currentColor" class="bi bi-bell lazyLoadButton" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="detailsContainer">
</div>
