@model Ban3.Platforms.TeamFoundationCollector.Application.CollectAndReport.Response.AnalyzeReferencesResult
@{
    ViewData["Title"] = $"Analyze {Model.Request.AssembliesStartWith} and {Model.Request.SpringConfigFile}";
}

@section PreTitle
{
    <div class="page-header d-print-none text-white" style="margin-top: 0; margin-bottom: 0; height: 60px; overflow: hidden;">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">
                    necessity analyze
                </div>
                <div class="col-12 col-md-auto ms-auto d-print-none">
                    <form action="/Home/Analyze" id="form" method="post">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="input-group mb-2">
                                    <span class="input-group-text">assemblies start with</span>
                                    <input type="text" value="@Model.Request.AssembliesStartWith" class="form-control" id="AssembliesStartWith" name="AssembliesStartWith" placeholder="CT.Serv.Ctl" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-text">spring config file</span>
                                    <input type="text" value="@Model.Request.SpringConfigFile" class="form-control mb-2" id="SpringConfigFile" name="SpringConfigFile" placeholder="CT.Serv.Ctl.SpringConfig.xml">
                                    <button type="submit" class="btn btn-info mb-2">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layers-difference" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M16 16v2a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-8a2 2 0 0 1 2 -2h2v-2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-2"></path>
                                                <path d="M10 8l-2 0l0 2"></path>
                                                <path d="M8 14l0 2l2 0"></path>
                                                <path d="M14 8l2 0l0 2"></path>
                                                <path d="M16 14l0 2l-2 0"></path>
                                            </svg>
                                        </i> Analyze
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="row row-deck row-cards">
    <div class="col-md-4 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="badge badge-info">@Model.Proposals.Count Proposals.</span>
                </h3>
            </div>

            <div class="card-body">
                <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                    @foreach (var p in Model.Proposals)
                    {
                        <div class="col form-selectgroup-label-content d-flex align-items-center">
                            <div class="col">
                                <div class="font-weight-medium fileName">@Html.Raw($"<font color=red>{p.Key}</font>")</div>
                                <div class="text-muted fileName">@Html.Raw(p.Value)</div>
                            </div>
                        </div>
                            <hr/>
                        }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="col-4"><h3 class="card-title">Results</h3></div>
                <div class="col-8">
                    @Model.Assemblies.Count assemblies found.
                    @Model.AssemblyFilesFromDependencies.Count in dependencies,
                    @Model.AssemblyFilesFromSpringConfigs.Count in spring configs.
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-6">Assembly</th>
                        <th class="col-2">In Dependencies</th>
                        <th class="col-2">In SpringConfig</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var c in Model.Assemblies.OrderBy(o=>o))
                    {
                        <tr>
                            <td>@c</td>
                                <td style="color: red;">@(Model.AssemblyFilesFromDependencies.ContainsKey(c)?"√":"")</td>
                                <td style="color: red;">@(Model.AssemblyFilesFromSpringConfigs.ContainsKey(c)?"√":"")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section HtmlPlus
{

}

@section TailJs
{
    <script>$(document).ready(function () { focusNav("navF"); });</script>
}
