@using Ban3.Platforms.TeamFoundationCollector.Application.CollectAndReport
@using Ban3.Platforms.TeamFoundationCollector.Application.CollectAndReport.Extensions
@model Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Models.BuildReports.ReportDefine

@{
    ViewData["Title"] = $"Build report {Model.Subject}";
}

@section PreTitle
{
    <div class="page-header d-print-none text-white" style="margin-top: 0; margin-bottom: 0; height: 60px; overflow: hidden;">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">
                    build report.
                </div>
                <h2 class="page-title">
                    @Model.Id : @Model.Subject
                </h2>
            </div>
        </div>
    </div>
}

<div class="row row-deck row-cards">
    <div class="col-md-3 col-lg-3">
        <div class="card">
            <div class="card-header">detail</div>
            <div class="card-body">
                @foreach (var s in Model.Sections.OrderBy(o=>o.Rank))
                {
                    <div class="jobList">
                        <div class="row">
                            <div class="col-2">@s.Rank</div>
                            <div class="col-10">
                                @s.Subject <br/><span class="badge">@s.Type.ToString()</span>
                            </div>
                        </div>
                    </div>
                }
                <div class="card">
                    <div class="card-header">subscribed</div>
                    <div class="card-body">
                        To:@string.Join(";",Model.Subscribed) <br />
                        CC:@Model.CC
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-9 col-lg-9">
        <div class="card">
            <div class="card-header">@Model.Subject</div>
            <div class="card-body">
                @Html.Raw(DevOps.Reportor.RenderBuildReportHtml(Model))
            </div>
        </div>
    </div>
</div>
@section TailJs
    {
    <script>$(document).ready(function () { focusNav("navD"); });</script>
}