@using System.Web
@using Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Enums
@model Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Response.Reports.TfvcFilterResult
@{
    Layout = null;
}
<div class="card-header">

    <div class="col-6"><h3 class="card-title">Results</h3></div>
    <div class="col-6">
        @if (Model.TotalPage > 1)
        {
            <ul class="pagination ">
                @Html.Raw(Model.Pagination)
            </ul>
        }
        </div>

</div>
<div class="table-responsive">
<table class="table table-hover">

    <thead>
        <tr>

            <th class="col-2">ID</th>
            <th>Changesets (@Model.Rows.Count found.)</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model.PagedRows)
        {
            <tr class="dataRow">
                <td class="card-body">
                    <a href="@c.Url" target="_blank" class="text-reset d-block">
                        @if (c.ReportRef == ReportRef.Changeset)
                        {
                            <span class="badge bg-success">
                                    Changeset
                            </span>
                        }
                        @if (c.ReportRef == ReportRef.Shelveset)
                        {
                            <span class="badge bg-warning">
                                    Shelveset
                            </span>
                        }
                        <span class="fabric-icon medium DocumentSet"><span class="noticeNumber">@c.Id</span></span>
                    </a>
                </td>
                <td class="card-body ">
                    <div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-3 rowIdentity"><i class="bi bi-person"></i> @c.AuthorName</div>
                            <div class="col-3 rowDate"><i class="bi bi-clock"></i> @c.CreatedDate</div>
                        </div>
                        <div class="row card-body">
                            @Html.Raw(c.Comment)
                        </div>
                    </div>

                        @if ( c.Comments.Any())
                    {
                        <hr />
                            @foreach (var t in c.Comments)
                        {
                                <div class="dataRow">
                                    <div class="col row ">
                                        <div class="col">
                                            <span class="badge bg-warning">
                                                @t.Status
                                            </span>
                                        </div>
                                        <div class="col-3 rowIdentity"><i class="bi bi-person"></i> @t.AuthorName</div>
                                        <div class="col-3 rowDate"><i class="bi bi-clock"></i> @t.PublishedDate</div>
                                    </div>
                                    <div class="card-body">
                                        @Html.Raw(t.Content)
                                    </div>
                                </div>
                        }
                    }

                </td>
            </tr>
        }

    </tbody>
</table>
<div class="col-12">
    <div class="card-body">
        <ul class="pagination ">
            @if (Model.TotalPage > 1)
            {
                @Html.Raw(Model.Pagination)
            }
        </ul>
    </div>
</div>
</div>
