@model IEnumerable<Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Entities.WebApiTeam>
@{
    ViewData["Title"] = "Teams";
}

@section PreTitle
{
    <div class="page-header d-print-none text-white" style="margin-top: 0; margin-bottom: 0; height: 60px; overflow: hidden;">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">
                    Followed Teams In Index Only.
                </div>
                <h2 class="page-title">
                    All Teams @Model.Count() .
                </h2>
            </div>
        </div>
    </div>
}

<div class="row row-cards" data-masonry='{"percentPosition": true }'>
    @for (var c = 'A'; c <= 'Z'; c++)
    {
        var teams = Model.Where(o => o.Name.ToUpper().StartsWith(c + ""));
        if (teams.Any())
        {
            <div class="col-sm-4 col-lg-3">
                <div class="card">
                    <div class="card-header">@(c+"")</div>
                    @foreach (var team in teams)
                    {
                        <div class="card-body teamRow">
                            <div class="card-title">
                                <a href="/home/index/@team.Name" target="_blank">@team.Name</a>
                            </div>
                            <div class="avatar-list avatar-list-stacked mb-3">
                                @foreach (var id in team.Members)
                                {
                                    <span class="avatar avatar-sm avatar-rounded" style="background-image: url(@id.Identity?.Portrait)" title="@id.Identity?.ShowName()"></span>
                                }
                            </div>
                            <div class="row">
                                <div class="col-4 memberCount">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                        </svg>
                                    </i> <span class="noticeNumber">@team.Members.Count</span>
                                </div>
                                <div class="col-6"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
@section HtmlPlus
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" defer=""></script>

    <div style="clear: both;"></div>
}
@section TailJs
{
    <script>$(document).ready(function () { focusNav("navB"); });</script>
}
